asgiref==3.11.1
atomicwrites==1.4.1
attrs==26.1.0
certifi==2026.4.22
charset-normalizer==2.0.12
colorama==0.4.6
Django==5.2.14
django-cors-headers==4.9.0
django-filter==2.4.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.2
idna==3.13
iniconfig==2.3.0
packaging==26.2
Pillow==9.3.0
pluggy==0.13.1
py==1.11.0
PyJWT==2.1.0
pytest==6.2.4
pytest-django==4.4.0
pytest-pythonpath==0.7.3
pytz==2026.2
requests==2.26.0
sqlparse==0.5.5
toml==0.10.2
tzdata==2026.2
urllib3==1.26.20
